:root {
    ---mont: 'Montserrat', sans-serif;
    ---pop: 'Poppins', sans-serif;

    ---first: #e65540;
    ---second: #94c2c1;
    ---third: #555555;
    ---fourth: #999999;
    ---fifth: #222222;
    ---sixth: #cccccc;
    ---seventh: #888888;
    ---eight: #111111;
    ---nine: #333333;
    --top-nav-bg: #f5f5f5;
    ---log_cart: #c9c9c9;

}