:root {
    ---mont: 'Montserrat', sans-serif;
    ---pop: 'Poppins', sans-serif;

    ---first: #e65540;
    ---second: #94c2c1;
    ---third: #555555;
    ---fourth: #999999;
    ---fifth: #222222;
    ---sixth: #cccccc;
    ---seventh: #888888;
    ---eight: #111111;
    ---nine: #333333;
    --top-nav-bg: #f5f5f5;
    ---log_cart: #c9c9c9;
    ---product-bg: #f3f3f3;
}

/* Watches section */

.watch-container{
    width: 100%;
    height: 100%;
}

.watch-banner-container{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/watch_banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;

}

.watch-banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.watch-banner-wrapper h1 {
    font-size: 5rem;
    color: white;
    font-family: var(---mont);

}

.watch-banner-wrapper p {
    font-size: 1.2rem;
    color: white;
    font-family: var(---mont);
}

.watch-container{
    height: 100%;
    width: 100%;
  }

  



.watch-products-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    padding-top:4rem ;

}

.watch-products-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
 
    width: 80%;
}

.watch-grid-left{
    display: flex;
    flex-direction: column;
    gap:2rem;
 
}

.watch-grid-right{
    display: flex;
    flex-direction: column;
    gap:4rem;
}

/* Sunglasses section */
.glasses-container{
    width: 100%;
    height: 100%;
}

.glasses-banner-container{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/glasses_banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;

}

.glasses-banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.glasses-banner-wrapper h1 {
    font-size: 4rem;
    color: white;
    font-family: var(---mont);

}

.glasses-banner-wrapper p {
    font-size: 1.2rem;
    color: white;
    font-family: var(---mont);
}

.watch-container{
    height: 100%;
    width: 100%;
  }

  



.glasses-products-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    padding-top:4rem ;

}

.glasses-products-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
 
    width: 80%;
}

.glasses-grid-left{
    display: flex;
    flex-direction: column;
    gap:2rem;
 
}

.glasses-grid-right{
    display: flex;
    flex-direction: column;
    gap:4rem;
}

/* bags section */
.bags-container{
    width: 100%;
    height: 100%;
}

.bags-banner-container{
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('../images/glasses_banner.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;

}

.bags-banner-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.bags-banner-wrapper h1 {
    font-size: 4rem;
    color: white;
    font-family: var(---mont);

}

.bags-banner-wrapper p {
    font-size: 1.2rem;
    color: white;
    font-family: var(---mont);
}

.bags-container{
    height: 100%;
    width: 100%;
  }

  



.bags-products-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    padding-top:4rem ;

}

.bags-products-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
 
    width: 80%;
}

.bags-grid-left{
    display: flex;
    flex-direction: column;
    gap:2rem;
 
}

.bags-grid-right{
    display: flex;
    flex-direction: column;
    gap:4rem;
}