:root {
    ---mont: 'Montserrat', sans-serif;
    ---pop: 'Poppins', sans-serif;

    ---first: #e65540;
    ---second: #94c2c1;
    ---third: #555555;
    ---fourth: #999999;
    ---fifth: #222222;
    ---sixth: #cccccc;
    ---seventh: #4b4b4b;
    ---eight: #111111;
    ---nine: #333333;
    --top-nav-bg: #f5f5f5;
    ---log_cart: #c9c9c9;
    ---product-bg: #f3f3f3;

}

.cart-container {
    height: 100%;
    width: 100%;
}

.cart-banner-container {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url('../images/cart-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cart-banner-container h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: var(---mont);
}

.cart-products-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:1.5rem
}

.cart-table {
    margin-top: 6rem;
    width: 80%;
    height: 100%;
}

.cart-table-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2rem;
    border-bottom: 1px solid #e6e6e6;
}

.cart-headers {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
}

.cart-item-container {
    display: flex;
    flex-direction: column;
}

.cart-items {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e6e6e6;
    height: 12rem;
    border-bottom: none;
    position: relative;
}


.remove-cart-item{
    font-size:2rem;
    position: absolute;
    color: var(---first);
    top:5%;
    right:2%;
    cursor:pointer;
    transition: .2s ease-in;
}

.remove-cart-item:hover{
    transform: scale(1.1);
}

.cart-items td {
    text-align: center;
    width: 100%;
    font-family: var(---mont);
    font-weight: 400;
    color: var(---third);
    font-size: 15px;
}

.cart-headers th {
    font-size: 13px;
    font-family: var(---mont);
    font-weight: 700;
    color: var(---third);
    width: 100%;
}

.cart-image-container {
    display: flex;
    justify-content: center;
}

.cart-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(---product-bg);
    transition: .5s ease;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 6rem;
}

.cart-image img {
    object-fit: cover;
    width: 6rem;
}

.item-counter {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.item-counter button {
    background-color: #e6e6e6;
    border: none;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.item-counter button:active{
    background-color: var(---first);
    
}

.item-counter button:active .item-minus{
    color: white;
}

.item-counter button:active .item-plus{
    color: white;
}

.item-minus,
.item-plus {
    color: var(---seventh);
    font-weight: 900;
}

.item-counter .item-qty {
    font-weight: 700;
    font-family: var(---mont);
}

.total-container{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-right: 10%;
    border: 1px solid #e6e6e6;
    width: 20rem;
    height: 12rem;
    gap:2rem;
    padding:2% 4%;
    
}

.total-container h2{
    font-family: var(---mont);
    font-size: 23px;
    color: #333333;
    font-weight: 700;
}

.subtotal-wrapper{
    display: flex;
    gap: 4rem;
    font-family: var(---mont);
    border-bottom: 2px dotted #afafaf;
    padding-bottom: 3%;
}

.subtotal-wrapper p{
    font-weight: 700;
    font-size: 17px;
}

.subtotal-wrapper .subtotal {
    font-weight: 400;
    font-size: 20px;
}

.total-container button{
    background:black ;
    color:white;
    font-family: var(---mont);
    font-size: 15px;
    font-weight: 400;
    height: 3rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: .4s ease-in;
    border: none;
}


.total-container button:hover{
    background-color: var(---first);
}

/* Empty Cart message section */

.empty-cart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40rem;
    
}

.empty-cart-wrapper{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5rem;
    
}

.empty-cart-wrapper h1{
    font-family: var(---mont);
    color: var(---nine);
}

.empty-bag-icon{
    color: var(---third);
    font-size: 14rem;
}

.continue-shopping-button{
    border: none;
    background-color: var(---first);
    color: white;
    height: 3rem;
    width: 15rem;
    font-size: 18px;
    border-radius: .5rem;
    transition: .4s ease-in;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: .1rem;
}

.continue-shopping-button:hover{
    transform: scale(1.1);
    color: var(---first);
    background-color: white;
    border: 2px solid var(---first);
}