:root {
    ---mont: 'Montserrat', sans-serif;
    ---pop: 'Poppins', sans-serif;

    ---first: #e65540;
    ---second: #94c2c1;
    ---third: #555555;
    ---fourth: #999999;
    ---fifth: #222222;
    ---sixth: #cccccc;
    ---seventh: #888888;
    ---eight: #111111;
    ---nine: #333333;
    --top-nav-bg: #f5f5f5;
    ---log_cart: #c9c9c9;

}

.navbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    background-color: var(--top-nav-bg);
}

.top-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}


.nav-icon {
    color: var(---seventh);
    transition: .4s ease-in;
}

.nav-icon:hover {
    color: var(---first);
}

.top-shipping-text p,
.top-email p {
    font-family: var(---mont);
    font-weight: 400;
    color: var(---seventh);
    font-size: 13px;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0rem;
    background-color: white;
}

.main-nav.active{
    gap:22rem;
    margin: 0rem 10rem;  
}

.logo h1 {
    font-family: var(---mont);
    font-size: 2rem;
    font-weight: 900;
}

.logo span {
    color: var(---first);
    font-size: 2.5rem;
}

.nav-items {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    color: var(---nine);
    font-family: var(---mont);
    font-weight: 400;
    color: var(---seventh);
    font-size: 15px;
    transition: .6s ease;
}

.nav-items li a:hover{
    color: var(---first);
}

.nav-items li a:focus{
    color: var(---first);
}

.log-cart {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.log-cart-icon {
    font-size: 2rem;
    color: var(---log_cart);
    cursor: pointer;
}

.cart {
    position: relative;
    border-left: 1px solid var(---log_cart);
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cart span {
    background-color: black;
    color: white;
    height: 1.1rem;
    width: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    right: 1rem;
    top: 0;
    font-size: 12px;
    font-family: var(---mont);
    font-weight: 400;
}