:root {
    ---mont: 'Montserrat', sans-serif;
    ---pop: 'Poppins', sans-serif;

    ---first: #e65540;
    ---second: #94c2c1;
    ---third: #555555;
    ---fourth: #999999;
    ---fifth: #222222;
    ---sixth: #cccccc;
    ---seventh: #888888;
    ---eight: #111111;
    ---nine: #333333;
    --top-nav-bg: #f5f5f5;
    ---log_cart: #c9c9c9;
    ---product-bg: #f3f3f3;
}

  .shop-container{
    height: 100%;
    width: 100%;
  }

  .shop-banner-container{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9 )), url('../images/shop-banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.shop-banner-container h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: var(---mont);
}

.shop-banner-container p{
    font-family: var(---mont);
    font-size: 18px;
    color: white;
}


.shop-products-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    padding-top:4rem ;

}

.shop-products-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
 
    width: 80%;
}

.shop-grid-left{
    display: flex;
    flex-direction: column;
    gap:2rem;
 
}

.shop-grid-right{
    display: flex;
    flex-direction: column;
    gap:4rem;
}


.sorting-options{
    display: flex;
    gap:4rem;
}


.sorting-options select{
    font-family: var(---mont);
    font-size: 16px;
    color: #444444;
    font-weight: 400;
    height: 2rem;
}


.sorting-options select option{
    font-family: var(---mont);
    font-size: 16px;
    color: #444444;
    font-weight: 400;
}

.sorting-options select:focus{
    outline: none;
}





.all-products{
   
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem
}


.product-container {
    height: 27rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: .8rem
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    background-color: var(---product-bg);
    transition: .5s ease;
    position: relative;
    overflow: hidden;
}

.product-image:hover {
    filter: brightness(90%);
}

.product-image img {
    width: 9rem;
}

.product-image button {
    position: absolute;
    top: 18rem;
    border: none;
    color: white;
    background-color: black;
    width: 9rem;
    height: 2.5rem;
    border-radius: 1rem;
    font-size: 15px;
    font-weight: 400;
    font-family: var(---mont);
    z-index: 45;
    transition: .4s ease-in;
    cursor: pointer;
    transform: translateY(100px);
}

.product-image button:hover {
    background-color: var(---first);
}


.product-container:hover>.product-image button {
    transform: translateY(0px);
}

.product-container:hover>.product-image .wish-icon {
    opacity: 1;
    transform: scale(1.2);
}

.product-container:hover>.product-image .wish-icon-fill {
    opacity: 1;
    transform: scale(1.2);
}




/* Categories Section */
.categories-container{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.categories-options{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.categories-container h2{
    color: var(---nine);
    font-size: 18px;
    font-weight: 700;
    font-family: var(---mont);
}

.categories-options p{
    color: var(---third);
    font-size: 15px;
    font-weight: 400;
    font-family: var(---mont);
}

.categories-options p:hover{
    color: var(---first);
}










